*{
  padding: 0; 
  background-origin: border-box;
}
footer{
  padding: 0;
}

.social-icons {
    height: 5em;
    list-style: none;
    display: flex;
    justify-content: space-between; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 1em;
  }
  
  .social-icons li {
    margin: 0;  /* Add some spacing between each social icon  (left and right 10px)*/
  }
  
  .social-icons a {
    display: flex;
    flex-direction: column; /* Align icon and text vertically */
    align-items: center; /* Center items horizontally */
    text-decoration: none;
  }
  
  .social-icons img {
    width: 30px; /* Set the width of the icons */
    height: 30px; /* Set the height of the icons */
    margin-bottom: 0; /* Add some space below the icon */
  }
  